footer {
    margin-top: 80px;
    background-color: white;
    padding: 20px;
    width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}  
 
.nav-item a i {
  filter: invert(100%);
}

.nav-item a:hover{
  color: black;
}

.nav-item {
  border-radius: 100%;
  width: 52px;
  height: 52px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  transition: .2s ease-in-out;
  background-color: #9b9b9b;
}
  
.nav-item:hover {
  cursor: pointer;
  background-color: #ADC1C2;
}
 
footer > span {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: black;
}
